   
    <%-include("./partials/header.ejs")%>  
   
 <link rel="stylesheet" href="../public/css/dashboard.css">
 <title>Dashboard</title>
 </head>

 <body>

     <div class="main-container">
        
         <div class="side-bar " >

             <div class="navbar " id="sidenav-collapse-main">
               
               <ul class="navbar-nav">
                 <li class="nav-item-logo">
               <a class="nav-link " href="/businessDashboard">
                 <img src="../public/images/logo-whitebg.png" width="185"  >
                 
               </a>
               
             
           </li>
                 <br>
                 <li class="nav-item ">
                   <a class="nav-link " href="/businessDashboard">
                     
                     <span class="">My Business</span>
                   </a>
                 </li>
                 <li class="nav-item active-nav-item">
                   <a class="nav-link  " href="/businessDashboard/profile">
                     
                     <span class="">Profile</span>
                   </a>
                 </li>                
                 
               </ul>
               </div>
         </div>
         <div class="secondary-container">
             <div class="top-bar">
             
             <div class="top-bar-right">
               <button class="button-signOut" type="submit"><a href="/sign-out">Log out</a></button>
               <p class="text-username"><%=username %></p>
             </div>
             <div class="top-bar-left">
               <h4>Somapala Pvt Ltd</h4>
             </div>
         
           
         </div>
             


                     <div class="table-area">

                     <div class="table_cont">
                         <div class="plist">
                           
                           <div class="profileh">
                             <div class="list">Type</div>
                             <div class="list1"><%=queueData[0].bType %></div>
                           </div>

                           <div class="profileh">
                             <div class="list">First Name</div>
                             <div class="list1"><%=queueData[0].fName %></div>
                           </div>

                           <div class="profileh">
                             <div class="list">Last Name</div>
                             <div class="list1"><%=queueData[0].lName %></div>
                           </div>

                           <div class="profileh">
                             <div class="list">E-mail</div>
                             <div class="list1"><%=queueData[0].email %></div>
                           </div>

                           <div class="profileh">
                             <div class="list">NIC</div>
                             <div class="list1"><%=queueData[0].nicNo %></div>
                           </div>

                           <div class="profileh">
                             <div class="list">Address</div>
                             <div class="list1"><%=queueData[0].address %></div>
                           </div>

                           <div class="profileh">
                             <div class="list">Zipcode</div>
                              <div class="list1"><%=queueData[0].zipCode %></div>
                           </div>

                           <div class="profileh">
                             <div class="list">Telephone No:</div>
                             <div class="list1"><%=queueData[0].telNo %></div>
                           </div>

                           <div class="profileh">
                             <div class="list">Username</div>
                             <div class="list1"><%=queueData[0].username %></div>
                           </div>


                           <div class="btn-container">
                              
                                <a href="/businessDashboard/profile/edit"><button class="edtbtn">Edit</button></a>
                              
                           </div>
                         </div>
                         
                       </div>
                         
           
                   </div>
           </div>
     <script src="userDashboard.js"></script>

     



     
 </body>

 </html>