<%- include("../views/partials/header.ejs") %>


  <link rel="stylesheet" href="/public/css/dashboard.css">
  <title>Dashboard</title>
  </head>

  <body>

    <div class="main-container">

      <div class="side-bar">
        <div class="navbar  w-auto  max-height-vh-100" id="sidenav-collapse-main">
          <ul class="navbar-nav">
            <li class="nav-item-logo">
              <a class="nav-link " href="/userDashboard">
                <img src="/public/images/logo-whitebg.png" width="185">

              </a>


            </li>
            <br>
            <li class="nav-item active-nav-item">
              <a class="nav-link " href="/userDashboard">

                <span class="">My Queues</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/userDashboard/findQueues">

                <span class="">Find Queues</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="/userDashboard/profile">

                <span class="">Profile</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="secondary-container">
        <div class="top-bar">

          <button class="button-signOut" type="submit"><a href="/sign-out">Log out</a></button>
          <p class="text-username">gg
          </p>
        </div>
        <div class="table-area">

          <div class="table-container">
            <div class="table-card-header">
              <h3 class="">Entrolled Queues</h3>

            </div>
            <div class="card-body px-0 pb-2">
              <table class="table">
                <thead class="table-header">
                  <tr>
                    <th class="table-header-column">Queue name</th>
                    <th class="table-header-column" style="text-align: center;">Queue Type</th>
                    <th class="table-header-column" style="text-align: center;">Max Token</th>
                    <th class="table-header-column" style="text-align: center;">Your Token</th>
                    <th class="table-header-column" style="text-align: center;">Remaining Tokens</th>
                    <th class="table-header-column" style="text-align: center;">Queue Status</th>
                  </tr>
                </thead>
               
                  <tbody>
                    <%if(queueData==null){%>
                      <tr class="row">
                        <td>
                          <p>No active business queues</p>
                        </td>
                      </tr>
                      <%}else{%>
                        <% for(var i=0; i<queueData.length; i++) {%>
                          <form id ="rowForm"action="/userDashboard/tokenDelete" method="post">
                            <input type="hidden" name="q_id"value="<%=queueData[i].q_Id%>">
                          </form>
                            <tr class="row">
                              <td class="none">
                                <p>
                                  <%= queueData[i].qName%>
                                </p>
                              </td>
                              <td>
                                <p>
                                  <%= queueData[i].qName%>
                                </p>
                              </td>
                              <td class="comp">
                                <p>
                                  <%= queueData[i].qType%>
                                </p>
                              </td>
                              <td class="comp">
                                <p>
                                  <%= queueData[i].maxToken%>
                                </p>
                              </td>
                              <td class="comp">
                                <p>
                                  <%= queueData[i].tokenRemain%>
                                </p>
                              </td>
                              <td class="comp">
                                <p>
                                  <%= queueData[i].qStatus%>
                                </p>
                              </td>
                              <td class="align-middle">
                                <div class="middle">
                                        <button type="submit" class="dlt"> Delete </button>
                                    </div>
                                
                                  </td>
                                </div>
                              </td>
                            </tr>
                            <% }}%>
                  </tbody>
                
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
    <script src="../public/js/userDashboard.js"></script>

  </body>

  </html>