<%- include("../views/partials/header.ejs") %>

<link rel="stylesheet" href="/public/css/dashboard.css">
<title>Dashboard</title>
</head>

<body>

<div class="main-container">

  <div class="side-bar ">

    <div class="navbar " id="sidenav-collapse-main">

      <ul class="navbar-nav">
        <li class="nav-item-logo">
          <a class="nav-link " href="/userDashboard">
            <img src="../public/images/logo-whitebg.png" width="185">

          </a>


        </li>
        <br>
        <li class="nav-item ">
          <a class="nav-link " href="/userDashboard">

            <span class="">My Queues</span>
          </a>
        </li>
        <li class="nav-item active-nav-item">
          <a class="nav-link " href="/userDashboard/findQueues">

            <span class="">Find Queues</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="/userDashboard/profile">

            <span class="">Profile</span>
          </a>
        </li>
        


      </ul>
    </div>
  </div>
  <div class="secondary-container">

    <div class="top-bar">

      <button class="button-signOut" type="submit"><a href="/sign-out">Log out</a></button>
      <p class="text-username"><%= username%></p>

      <!--Search bar-->
      <form action="/userDashboard/findQueues" method="post" class="search-bar">
        <div class="search-bar-container">
          <input type="text" placeholder=" search queues" name="search">
          <button class="btn-search"><i class=" fas fa-xl fa-magnifying-glass icon"></i> </button>
        </div>

      </form>
    </div>

    <h1>On Going Queues</h1>
<div class="table-area">

  <div class="table-container">
    <div class="table-card-header">
      <h3 class="">Queeue List</h3>

    </div>
    <div class="card-body px-0 pb-2">
      <table class="table">
        <thead class="table-header">
          <tr>
            <th class="table-header-column">Project</th>
            <th class="table-header-column" style="text-align: center;">Budget</th>
            <th class="table-header-column" style="text-align: center;">Status</th>
            <th class="table-header-column" style="text-align: center;">Completion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <%if(queueData!==false){%>
              <% for(var i=0; i<queueData.length; i++) {%>

                <tr class="row">
                  <td>
                    <p><%= queueData[i].qName%></p>
                  </p>
                  </td>
                  <td class="comp">
                    <p><%= queueData[i].qType%></p>
                  </td>
                  <td class="comp">
                    <p ><%= queueData[i].maxToken%></p>
                  </td>
                  <td class="comp">
                    <p><%= queueData[i].tokenRemain%></p>
                  </td>
                  <td class="comp">
                    <p><%= queueData[i].qStatus%></p>
                  </td>
                  
                
                  <td class="align-middle">
              
                    <div class ="middle">
                        <button class="bedit"><a href="/findwindow">view</a></button>
                      
                    
                      <!-- <button class="dlt"> Delete </button> -->
                    </div>
                
                  </td>
            </tr>
           <% } %>
              <%}else{%>
                  <td>No Queues</td>
                <%}%>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>

</div>


<script src="../public/js/userDashboard.js"></script>






</body>

</html>